@page
@model PlatformaBlogowa.Pages.PostModel
@{
}

<div class="container">
    <div class="card mb-3">
        <div class="card-body">
            <h2 class="card-title">@Model.Post.Title</h2>
            @if (Model.Photos.Any())
            {
                foreach(var photo in Model.Photos)
                {
                    <li class="list-group-item">
                        <div>
                            <img src="@photo.FileName" alt="Alternative text" style="width:300px;height:200px;" class="center">
                        </div>
                    </li>
                }
            }
            <p class="card-text">@Model.Post.Description</p>
            <p class="card-text">Author: @Model.Post.UserName</p>
            <p class="card-text">Date: @Model.Post.Date.ToString("yyyy-MM-dd")</p>
            @if(Model.Post.UserId == Model.CurrentUser)
            {
                <a class="btn btn-primary" asp-page="/EditPost" asp-route-id="@Model.Post.Id">Edit Post</a>
                <a class="btn btn-primary" asp-page="/PhotosToPost" asp-route-id="@Model.Post.Id">Add Photos</a>
                <a class="btn btn-danger" asp-page="/DeletePost" asp-route-id="@Model.Post.Id">Delete Post</a>
            }            
        </div>
    </div>
    @*<a href="@Url.Action("Index", "Posts")" class="btn btn-primary">Back to Posts</a>*@
</div>

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Add a Comment</h5>
        <form method="post">
            <span asp-validation-for="Comment.Description" class="text-danger"></span>
            <input type="hidden" value="@Model.Post.Id" asp-for="Comment.PostId" />
            <div class="form-group">
                <label for="commentText">Your Comment</label>
                <input type="text" class="form-control" asp-for="Comment.Description" placeholder="Enter your comment">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<h5>Comments</h5>
@if (Model.Comments.Any())
{
    <ul class="list-group">
        @foreach (var comment in Model.Comments)
        {
            <li class="list-group-item">
                <input type="hidden" value="comment.Id"/>
                <div>
                    <p>@comment.Description</p>
                    <small>Author: @comment.UserId | Date: @comment.CreatedDate.ToString("yyyy-MM-dd") | IP: @comment.Ip</small>
                </div>
                @if(comment.UserId == Model.CurrentUser || Model.Post.UserId == Model.CurrentUser || Model.Username == "admin@gmail.com")
                {
                    <form method="post">
                        <a class="btn btn-danger" asp-page="/DeleteComment" asp-route-id="@comment.Id">Delete</a>
                    </form>
                }     
            </li>
        }
    </ul>
}
else
{
    <p>No comments yet.</p>
}
