@page
@model PlatformaBlogowa.Pages.PostByUsernameModel

@{
    ViewData["Title"] = "PostByUsername";
}

<h1>Post By Username</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostsListed[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostsListed[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostsListed[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostsListed[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in @Model.PostsListed) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.PostsListed.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.PostsListed.HasNextPage ? "disabled" : "";
}

<a asp-page="./PostByUsername"
   asp-route-pageIndex="@(Model.PostsListed.PageIndex - 1)"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./PostByUsername"
   asp-route-pageIndex="@(Model.PostsListed.PageIndex + 1)"
   class="btn btn-primary @nextDisabled">
    Next
</a>
